# Ignore Python bytecode files
*.pyc

# Ignore __pycache__ directories
__pycache__/
sources/__pycache__/
sources/__pycache__/model_trainer.cpython-310.pyc
sources/pdf_processing/__pycache__/
sources/pdf_processing/__pycache__/__init__.cpython-310.pyc
sources/pdf_processing/__pycache__/tdata_extractor.cpython-310.pyc
sources/pdf_processing/__pycache__/text_extractor.cpython-310.pyc
